<%= form_for @user, :remote => true do |f| %>
  	<p>
    	<%= f.label :first_name %><br>
   	  <%= f.text_field :first_name %>
      <%= error_tag @user.errors[:first_name] %>
  	</p>
 
  	<p>
    	<%= f.label :last_name %><br>
    	<%= f.text_field :last_name %>
      <%= error_tag @user.errors[:last_name] %>
  	</p>

 	  <p>
    	<%= f.label :email %><br>
    	<%= f.text_field :email %>
      <%= error_tag @user.errors[:email] %>
  	</p>
 
  	<p>
    	<%= f.submit %>
  	</p>
<% end %>