<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class='table' id='all_users' >
 	<thead>
     	<tr>     			
       		<th><%= sortable 'first_name' %></th>
          <th><%= sortable 'last_name' %></th>
          <th><%= sortable 'email' %></th>
       	  <th>Edit</th>
       	  <th>Destroy</th>
     	</tr>
    </thead>

    <tbody>
    	<%- @users.each do |user| %>
        <%= render partial: 'user', locals: { user: user } %>        	
     	<% end %>
    </tbody>
</table>